<div class="media">
  <img class="d-flex align-self-center mr-3" style="width: 50%;" src="crop.png" alt="Generic placeholder image">
  <div class="media-body">
    <h1 class="mt-0">Canteen and Co. </h1>
  </div>
</div>