<div class="media">
<div class="container my-3">
	<div class="row">
  		<img class="d-flex align-self-center mx-auto mt-2" style="width: 80%;" src="crop.png" alt="Generic placeholder image">
  		<div class="media-body">
    		<h1 class="header-text mx-auto">CANTEEN AND CO. </h1>
  		</div>
  	<div><!--row-->
  </div><!--container-->
</div><!--media-->