<div class="media">
<div class="container my-3">
	<div class="row">
  		<img class="d-flex align-self-center mx-auto mt-2" style="width: 80%;" src="fenway.png" alt="Generic placeholder image">
  		<div class="media-body">
    		<h1 class="header-text ml-auto mr-0">LIVE IN FENWAY</h1>
    		<p style="text-align:center;">www.liveinfenway.com</p>
  		</div>
  	<div><!--row-->
  </div><!--container-->
</div><!--media-->