<nav class="navbar navbar-blue navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
    <li class="center">
        <a href=""><span class=""></span> Ali FitzGerald</a>
      </l1>
      <li class="center">
        <a href=""><span class=""></span> About</a>
      </l1>
      <li>
        <a href=""><span class=""></span> Work</a>
      </li>
    </ul>
  </div>
</nav>
