<div class="media">
<div class="container my-3">
	<div class="row">
  		<img class="d-flex align-self-center mx-auto mt-2" style="width: 60%;" src="phone-stuffy.png" alt="Generic placeholder image">
  		<div class="media-body">
    		<h1 class="header-text mx-auto">UNCLE STUFFY</h1>
  		</div>
  	<div><!--row-->
  </div><!--container-->
</div><!--media-->