.navbar + .jumbotron {
  margin-top: -20px; 
  
}

.navbar-inverse .navbar-nav>li>a {
  color: #7F6663 ;
}

#section_one {
  background: linear-gradient(180deg, #FF857A 0%, #FF857A 100%);

}

@font-face {
    font-family: 'Malva-Black';
    src: url('/Malva-Black.eot');
    src: url('/Malva-Black.woff') format('woff'),
         url('/Malva-Black.svg') format('svg');
}

.logo {
  height: auto;
  width: 5%; 
}

#header{
  font-family: Malva-Black;
  font-size: 9em;
  color: #FFCBC6;  
}

.image-container {
  width: 45%;
  height: 30rem;
  margin-left: 27%; 
}

img {
  width: 100%; 
}

video {
  width: auto;
  height: 30rem;
  margin: 0 auto;

}
.center a {
  text-align: center; 
  letter-spacing: 2px;
}

.placeholder {
  width: 100%;
  background: none; 
  display: block;
  float: left;
}

.placeholder img {
  height: 50%;
  width: auto;
}


.body {
  font-family: lexia, serif;
  font-style: normal;
  font-weight: 500;
}

.navbar-blue {
  background: #FF857A;
  border: none;  
}

h1 {
  font-family: lexia, serif;
  font-style: normal;
  font-weight: 700;
}

.jumbotron {
  padding-top: 10px; 
  padding-bottom: 50px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #242528;
    max-width: 75%;
    margin: 1em auto 2em; }
 

