.navbar + .jumbotron {
  margin-top: -20px; 
  background: linear-gradient(160deg, #242528 0%, #A79286 100%);
}

.placeholder {
  height: 30rem;
  width: 55%;
  background: #fff; 
  display: block;
  float: left; 
  box-shadow: 10px 10px 40px #2F363D;
}

.placeholder-right {
  height: 9rem;
  float: right;
  width: 40%;
  display: block;
  background: #fff; 
  margin-top: 1rem; 
  box-shadow: 10px 10px 40px #2F363D;
}

.body {
  background: #BEA99D;
  font-family: lexia, serif;
  font-style: normal;
  font-weight: 500;
}

.navbar-blue {
  background: #242528;
  border: none;  
}

h1 {
  font-family: lexia, serif;
  font-style: normal;
  font-weight: 700;
}

.jumbotron {
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
 

