.navbar + .jumbotron {
  margin-top: -20px; 
  background: linear-gradient(180deg, #BEA99D 0%, #242528 100%);
}

.navbar-inverse .navbar-nav>li>a {
  color: #242528 ;
}

.image-container {
  width: 45%;
  height: 30rem;
  margin-left: 27%; 
}

img {
  width: 100%; 
}

video {
  width: auto;
  height: 30rem;
  margin: 0 auto;
  box-shadow: 10px 10px 40px #2F363D;
}
.center a {
  text-align: center; 
  letter-spacing: 2px;
}

.placeholder {

  width: 100%;
  background: none; 
  display: block;
  float: left; 

}

.opacity-img {
  opacity: .4; 
}

.placeholder-right p {
  color: #fff;
  padding-top: 10px; 
}

.body {
  background: #242528;
  font-family: lexia, serif;
  font-style: normal;
  font-weight: 500;
}

.navbar-blue {
  background: #BEA99D;
  border: none;  
}

h1 {
  font-family: lexia, serif;
  font-style: normal;
  font-weight: 700;
}

.jumbotron {
  color: white;
  padding-bottom: 0px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #242528;
    max-width: 75%;
    margin: 1em auto 2em; }
 

