<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body class="body">

  <% include ../partials/nav.ejs %>

<section id="section_one" class="jumbotron">
  <div>
    <div class="container text-center">
      <div>
        <img class="logo" src="logo.svg">
        <h1 class="header">OH, HI</h1>
      </div>
    <div class="placeholder">
      
    </div>
    </div>
  </div>
</section>
<section id="section_two">
  <div class="container pair">
    <div class="row">
      <div class="col-md-7 computer">
        <img src="crop.png">
      </div>
      <div class="col-md-4 col-md-offset-right-1 this">
         <h1 class="header">CANTEEN &#38; CO.</h1>
      </div> 
    </div>
  </div>
  
</section>
<section id="section_four">
  <div class="container pair">
    <div class="row">
      <div class="col-md-5 this">
        <h1 class="header">LIVEINFENWAY</h1>
      </div>
       <div class="col-md-7 computer">
        <img src="fenway.png">
      </div> 
    </div>
  </div>
</section>
<section id="section_three">
  <div class="container pair">
    <div class="row">
      <div class="col-md-6 computer">
         <img src="phone-stuffy.png">
      </div>
      <div class="col-md-5 col-md-offset-right-1 this">
        <h1 class="header">UNCLE STUFFY</h1>
      </div> 
    </div>
  </div>
</section>



  

</body>

</html>
