<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body class="body">

  <% include ../partials/nav.ejs %>

<section id="section_one" class="jumbotron">
  <div>
    <div class="container text-center">
      <div>
        <img class="logo" src="logo.svg">
        <h1 id="header">OH, HI</h1>
      </div>
    <div class="placeholder">
      <img src="crop.png">
    </div>
    </div>
  </div>
</section>

<section id="section_two">
  <div class="container">
    
  </div>
  
</section>


  

</body>

</html>
