<!DOCTYPE HTML>
<!--
	Story by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Story by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/assets/css/main.css" />
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper" class="divided">

				<!-- One -->
					<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
						<div class="content">
							<h1>OH, HI</h1>
							<p class="major"><!--[-->
							<p>I'm Ali FitzGerald; a Developer, Designer, and Writer based in Somerville, MA.
          					Years ago, I built a Wordpress site to self-publish film and television reviews. During the process, I fell in love with the holistic approach to creativity that the digital world makes possible.</p>
          					<p>I’ve since become well versed in color theory, typography, video editing, Photoshop, Illustrator, After Effects and full stack web development. I specialize in HTML/CSS/JS as well as the popular front end frameworks.</p>
							<ul class="actions vertical">
								<li><a href="#first" class="button big wide smooth-scroll-middle">Get Started</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="/images/mycube.jpg" alt="" />
						</div>
					</section>

				<!-- Two -->
					<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
						<div class="content">
							<h2>Canteen and Co.</h2>
							<p>Canteen and Co. is a catering company / farmer's market regular. Their site was created to (1) Inform prospective clients about their mission/food sourcing/availability. (2) Create a system which allowed farmer's market goers to order ahead.</p>
							<ul class="actions vertical">
								<li><a href="#" class="button">Learn More</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="/images/canteenspot.jpg" alt="" />
						</div>
					</section>

				<!-- Three -->
					<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>Live in Fenway</h2>
							<p>Live in Fenway is a site where users can search available apartments on four specific streets in the Fenway neighborhood. The site needed to function with an existing database existing on another platform.</p>
							<ul class="actions vertical">
								<li><a href="http://www.liveinfenway.com" class="button">Visit Site</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="/images/fenwayspot.jpg" alt="" />
						</div>
					</section>

				<!-- Four -->
					<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>notasubplot.</h2>
							<p>notasubplot is a wed app and a kickstarter campaign. In order to run a campaign primary design features such as: typography, color palette, website and app mockups needed to be created.</p>
							<ul class="actions vertical">
								<li><a href="https://notasubplot.herokuapp.com/" class="button">Visit Site</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="/images/nasp.jpg" alt="" />
						</div>
					</section>

					<!-- Four and a half-->

					<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>Cat Facts: Things That Cats Like</h2>
							<p>
								Cat Facts is children's book that I wrote, illustrated, and formatted for both e-book and hard copy. Find it on Amazon!
							</p>
							<ul class="actions vertical">
								<li><a href="https://www.catfactsbook.com/" class="button">Visit Site</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="/images/catfactsspot.jpg" alt="" />
						</div>
					</section>
					

				<!-- Five -->
					<section class="wrapper style1 align-center">
						<div class="inner">
							<h2>Other Work</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id ante sed ex pharetra lacinia sit amet vel massa. Donec facilisis laoreet nulla eu bibendum. Donec ut ex risus. Fusce lorem lectus, pharetra pretium massa et, hendrerit vestibulum odio lorem ipsum.</p>
						</div>

						<!-- Gallery -->
							<div class="gallery style2 medium lightbox onscroll-fade-in">
								<article>
									<a href="images/gallery/fulls/04.jpg" class="image">
										<img src="images/gallery/thumbs/04.jpg" alt="" />
									</a>
									<div class="caption">
										<h3>My Pumpkin</h3>
										<p>IOS Stickers App.</p>
										<ul class="actions">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="images/gallery/fulls/05.jpg" class="image">
										<img src="images/gallery/thumbs/05.jpg" alt="" />
									</a>
									<div class="caption">
										<h3>Uncle Stuffy</h3>
										<p>IOS Stickers App.</p>
										<ul class="actions">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="images/gallery/fulls/06.jpg" class="image">
										<img src="images/gallery/thumbs/06.jpg" alt="" />
									</a>
									<div class="caption">
										<h3>Notorious RGB Game</h3>
										<p>IOS mobile game with over 100 downloads.</p>
										<ul class="actions">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
							</div>

					</section>

				<!-- Six -->
					<section class="wrapper style1 align-center">
						<div class="inner">
							<h2>Skills</h2>
							<p>Here is a list of some of the things I can help you with!</p>
							<div class="items style1 medium onscroll-fade-in">
								<section>
									<span class="icon style2 major fa-html5"></span>
									<h3>HTML5</h3>
									<p>I'm an HTML5 expert!</p>
								</section>
								<section>
									<span class="icon style2 major fa-css3"></span>
									<h3>CSS</h3>
									<p>I can help you lay out your project!</p>
								</section>
								<section>
									<span class="icon style2 major fa-magic"></span>
									<h3>JS</h3>
									<p>I am proficient in Javascript, JQuery and AngularJS.</p>
								</section>
								<section>
									<span class="icon style2 major fa-youtube-play"></span>
									<h3>Video Effects/Titles/Editing</h3>
									<p>I use Premiere Pro and After Effects to achieve whatever look you are going for.</p>
								</section>
								<section>
									<span class="icon style2 major fa-file-image-o"></span>
									<h3>AI/Photoshop</h3>
									<p>I am well versed in Adobe Illustrator and Photoshop and can handle most of your photography needs.</p>
								</section>
								<section>
									<span class="icon style2 major fa-cubes"></span>
									<h3>3D</h3>
									<p>I am not a 3D professional, yet. But I am a modeling/Three.js/VR enthusiast and I'm actively trying to improve my abilities.</p>
								</section>
							</div>
						</div>
					</section>
					<div class="typeform-widget" data-url="https://ghostwriteio.typeform.com/to/YkQiQq" style="width: 100%; height: 300px;"> </div> <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id="typef_orm",b="https://s3-eu-west-1.amazonaws.com/share.typeform.com/";if(!gi.call(d,id)){js=ce.call(d,"script");js.id=id;js.src=b+"widget.js";q=gt.call(d,"script")[0];q.parentNode.insertBefore(js,q)}})()</script>


			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>