<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body class="body">

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <div class="placeholder">
      <video id="my-video" class="video-js" controls preload="auto" autoplay= "true" loop="true" width="100%" height="100%"
  poster="MY_VIDEO_POSTER.jpg" data-setup="{}">
    <source src="Comp-1.mp4" type='video/mp4'>
    <source src="MY_VIDEO.webm" type='video/webm'>
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
  </video>
    </div>
    <div class="placeholder-right">
      <p></span><span class="glyphicon glyphicon-chevron-right"></span> WORK <span class="glyphicon glyphicon-chevron-left"></span></p>
    </div>
    <div class="placeholder-right">
      <p><span class="glyphicon glyphicon-chevron-left"></span> ABOUT ME <span class="glyphicon glyphicon-chevron-right"></span></p>
    </div>
    <div class="placeholder-right">
      <p><span class="glyphicon glyphicon-thumbs-up"></span> CONTACT <span class="glyphicon glyphicon-thumbs-up"></span></p>
    </div>
  </div>
</div>


  <% include ../partials/work.ejs %>


</body>
</html>
