<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <% include ../partials/header.ejs %>
</head>

<body class="body">

  <% include ../partials/nav.ejs %>

<section id="section_one" class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-12 text-center">
        <img class="logo" src="logo.svg">
        <h1 class="display-1 header">OH, HI</h1>
      </div>
    </div>
    <div class="row justify-content-md-center"> 
      <div class="col-6">
         <img src="cubby4.png">
      </div>
  </div>
</section>
<section id="section_five">
  <table>
    <tbody>
        <td><h1 class="header align-text-bottom">ABOUT</h1></td>
        <td>
            <p> I'm a front end developer with experience in HTML/CSS/Javascript, as well as familiarity with Angular JS and several front end frameworks. I've built projects from the ground up with NodeJS, IOS apps, Wordpress sites, and done design work for Shopify sites. </p>
            <p> As a freelancer, I've worked with a number of small business developing logos, customized assets, and full apps. I also have design, UI experience in everything from print to apps.</p>
            <p> I have a strong interest in 3D and consider myself as Maya/VR hobbyist, but am always seeking to learn more.</p>
      </td> 
    </tbody>
  </table>
</section>
<section id="section_two">
  
  <% include ../partials/canteen.ejs %>
  
</section>
<section id="section_four">
  <div class="container pair">
    <div class="row">
      <div class="col-md-5 this">
        <h1 class="header">LIVEINFENWAY</h1>
      </div>
       <div class="col-md-7 computer">
        <img src="fenway.png">
      </div> 
    </div>
  </div>
</section>
<section id="section_three">
  <div class="container pair">
    <div class="row">
      <div class="col-md-5 col-md-offset-1 computer">
         <img src="phone-stuffy.png">
      </div>
      <div class="col-md-5 col-md-offset-right-1 this">
        <h1 class="header">UNCLE STUFFY</h1>
      </div> 
    </div>
  </div>
</section>
<section id="section_two">
  <div class="container pair">
    <div class="row">
      <div class="col-md-5 col-md-offset-1 this">
        <h1 class="header">CAT FACTS</h1>
        <h2> THINGS THAT CATS LIKE </h2>
      </div> 
      <div class="col-md-5 col-md-offset-right-1">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/jLXoHVccIeA" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>



  

</body>

</html>
